.app {
  text-align: center;
  overflow: auto;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-table {
  width: 100%;
  height: 100%;
}

.game-table td {
  border: 0.3px solid #ccc;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  text-align: center;
  justify-self: center;
}

.game-table td:hover {
  animation: blink-cell-hover 1.8s infinite;
}

.current {
  animation: blink-warning 1.2s infinite;
}

.win {
  background-color: rgb(255, 66, 66);
}

@keyframes blink-warning {
  0% {
    background-color: #ccc;
  }

  50% {
    background-color: rgb(255, 196, 0);
  }

  100% {
    background-color: #ccc;
  }
}

@keyframes blink-success {
  0% {
    background-color: #ccc;
  }

  50% {
    background-color: rgb(51, 189, 51);
  }

  100% {
    background-color: #ccc;
  }
}

@keyframes blink-cell-hover {
  0% {
    background-color: #ccc;
  }

  50% {
    background-color: rgb(51, 95, 189);
  }

  100% {
    background-color: #ccc;
  }
}
