*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;

}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-corner {
  border-radius: 6px;
}

.container {
  margin: auto;
  margin-top: 20px;
  max-width: 1280px;
}

@media only screen and (max-width: 1280px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
}